.App {
  text-align: center;
}

.job-description {
  width: 60%;

  margin-left: 3rem;
}

.job-description h2 {
  font-size: 1.2rem;
}

.job-description ul {
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.job-description p,
li {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
}

.job-description a {
  text-decoration: none;
}

.job-description img {
  height: 30vh;
  width: 100%;
  object-fit: scale-down;
  object-position: center;
}

.description {
  padding: 2rem;
}
